---
import "@styles/global.css";
import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="" />
		<meta name="description" content={description} />
		<title>{title}</title>
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet/dist/leaflet.css"
		/>
	</head>
	<body>
		<slot />
		<script defer src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	</body>
</html>

<style>
	html,
	body {
		font-family: "Onest", sans-serif;
	}
</style>
